body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{
	width: 800px;
	margin: 50px auto 0;
	display: table;
	box-sizing: border-box;
}
.row{
	margin: 50px ,250px;
}
.column{
	background: #000;
	display: table-cell;
	padding: 80px;
	width: 33.3333%;
	color: white;
	border-right: 10px solid #fff;
	border-left: 10px solid #fff;
	margin: 50px;
}